@import '../../styles/utils/mixins';


.projects {
    font-size: 72px;
    background: -webkit-linear-gradient(315deg, #cfc7f8 29%, #ebbba7 74%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    @include font-style;
    color: linear-gradient(315deg, #cfc7f8 0%, #ebbba7 74%);
}


.container{
    display: flex;
    justify-content: space-around;

  &__stump{
      border: 10px ;
      border-radius: 20px;
      border: 10px solid #EAD5EC;
      
      
  }

  &__lit{
      border: 10px solid #cfc7f8;
      width: 500px;
      height: 232px;
      border-radius: 20px;
   
  }
}