@import '../../styles/utils/mixins';

.footer{
    
    
    background-color: #cfc7f8;
    background-image: linear-gradient(315deg, #cfc7f8 0%, #ebbba7 74%);
    color: white;
     
    @include font-style;
    
    position:absolute;
    left:0;
    bottom:0;
    right:0;

  

        &__image{
            width: 150px;
            height: 150px;
            border-radius: 100px;
           
            
        }

        &__info{
             line-height: 20px;
             font-size: 18px;
        }

        &__icon-container{
            display: flex;
            justify-content: flex-end;
            
        
        }

      
    
    
}

.fa-medium, .fa-twitter-square, .fa-linkedin,.fa-envelope-square,.fa-github-square{
    color: gray;
    padding: 10px;
}